.hide-i {
  display: none!important;
}
@media (min-width: 768px) {
  .desktop-hide {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
  .mobile-hide-i {
    display: none!important;
  }
}
.ico-safari-search:before {
  content: '\2f';
}
.i-external-link:before {
  content: '\e909';
}
.i-external-link-2:before {
  content: '\e90a';
}
.m-msg {
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px 5px 35px;
  color: #000;
  border: 2px solid #73ae3a;
  background-color: rgba(107, 186, 112, 0.4);
}
.m-msg .wrap-ico {
  line-height: 22px;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 5px;
  overflow-x: hidden;
  width: 22px;
  height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #73ae3a;
}
.m-msg .wrap-ico i {
  color: #fff;
}
.m-msg.attention {
  border-color: #ffce52;
  background-color: rgba(255, 206, 82, 0.4);
}
.m-msg.attention .wrap-ico {
  background-color: #ffce52;
}
.m-msg.m-error {
  color: #000;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.4);
}
.m-msg.m-error .wrap-ico {
  background-color: red;
}
.new-card .card-title a {
  color: #3c3c3d;
}
.new-card .card-title a:hover {
  color: #73ae3a;
}
.new-card.model-1 .new-card-body .wrap-img img,
.new-card.model-2 .new-card-body .wrap-img img {
  max-width: 100%;
  max-height: 180px;
}
.card.type-6 .card-header h2 a {
  font-weight: 700;
  color: #3c3c3d;
}
.card.type-6 .card-header h2 a:hover {
  color: #73ae3a;
}
@media (max-width: 520px) {
  .new-card .new-card-body .wrap-img {
    width: 100px;
    min-width: 100px;
  }
  .new-card .new-card-body .wrap-img img {
    width: 100px;
  }
  .new-card .new-card-body .text-content {
    font-size: 12px!important;
  }
  .new-card .new-card-body .text-content .bottom-info .info-list li {
    font-size: 12px!important;
  }
  .new-card .new-card-body .text-content .list-of-places li a {
    font-size: 12px!important;
  }
  .new-card.model-3 .new-card-body .wrap-img {
    width: 100px;
    min-width: 100px;
  }
  .new-card.model-3 .new-card-body .wrap-img img {
    display: block;
    width: 100px;
  }
  .new-card.model-3 .new-card-body .text-content {
    padding: 10px;
  }
  .new-card.model-2 .new-card-body .text-content h4 {
    font-size: 14px;
  }
  .new-card .list-of-flags li {
    font-size: 12px;
  }
}
.m-sll-box.sll-box {
  padding-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.m-sll-box.sll-box h2 {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.m-sll-box.sll-box h2 .ob-rating {
  right: 10px!important;
}
.m-sll-box.sll-box .user-info {
  padding-left: 10px;
}
.m-sll-box.sll-box .user-info .icon-t {
  width: 28px;
  height: 18px;
}
.m-sll-box.sll-box .short-decr {
  padding-top: 15px;
  padding-right: 10px;
}
.m-sll-box.sll-box .short-decr .sd-more {
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
  height: 15px;
  cursor: pointer;
  color: #73ae3a;
}
.m-sll-box.sll-box .short-decr .sd-more .more {
  display: inline-block;
  color: #73ae3a;
}
.m-sll-box.sll-box .short-decr .sd-more .less {
  display: none;
}
.m-sll-box.sll-box .short-decr .sd-more.active + .more-info {
  overflow: auto;
  max-height: 1000px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.m-sll-box.sll-box .short-decr .sd-more.active .more {
  display: none;
}
.m-sll-box.sll-box .short-decr .sd-more.active .less {
  display: inline-block;
}
.m-sll-box.sll-box .short-decr .more-info {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  overflow-x: hidden;
  max-height: 0;
  margin-bottom: 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #7c8082;
}
.m-sll-box.sll-box .review-like {
  right: 10px;
  bottom: 10px;
}
@media (max-width: 767px) {
  .m-sll-box.sll-box .review-like {
    right: 0;
    bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
  .m-sll-box.sll-box .review-like .social-links-imgs a {
    margin-right: 6px;
    margin-left: 0;
  }
  .m-sll-box.sll-box .short-decr {
    padding-left: 10px;
  }
  .m-sll-box.sll-box .short-decr .more-info {
    margin-bottom: 0;
  }
}
.tours.model-2 .tours-hover {
  top: 100%;
  bottom: auto;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.tours.model-2:hover .tours-hover {
  top: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.tours.model-2 .tours-visible {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0.38+99 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.38) 99%, rgba(0, 0, 0, 0.38) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.38) 99%, rgba(0, 0, 0, 0.38) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(99%, rgba(0, 0, 0, 0.38)), to(rgba(0, 0, 0, 0.38)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.38) 99%, rgba(0, 0, 0, 0.38) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.38) 99%, rgba(0, 0, 0, 0.38) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#61000000', GradientType=0);
  /* IE6-9 */
}
@media (max-width: 768px) and (min-width: 479px) {
  .tours .tours-visible {
    display: block;
  }
}
@media (max-width: 480px) {
  .tours.model-2 .tours-hover {
    position: relative;
    top: 0;
    overflow: hidden;
  }
}
.search-result-list.model-2 {
  width: 100%;
}
.search-result-list.model-2 .sll-countries .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.search-result-list.model-2 .sll-countries .row .column {
  line-height: 1.3;
  min-height: 22px;
  margin-bottom: 4px;
}
.search-result-list.model-2 .sll-countries .row .column:first-of-type {
  width: 100%;
}
.search-result-list.model-2 .sll-countries .row .column:nth-of-type(2) {
  min-width: 230px;
}
.search-result-list.model-2 .sll-countries .row .column:last-of-type {
  overflow: hidden;
  min-width: 200px;
}
.search-result-list.model-2 .sll-countries .row .column .ob-rating {
  padding-top: 3px;
}
@media (max-width: 700px) {
  .search-result-list.model-2 .sll-countries .row {
    display: block;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
  }
  .search-result-list.model-2 .sll-countries .row:last-of-type {
    margin-bottom: 0;
    border: none;
  }
  .search-result-list.model-2 .sll-countries .row .column {
    line-height: 1.3;
    float: left;
    min-height: 22px;
    margin-bottom: 6px;
  }
  .search-result-list.model-2 .sll-countries .row .column:first-of-type {
    font-weight: 700;
    clear: both;
    width: 100%;
  }
  .search-result-list.model-2 .sll-countries .row .column:nth-of-type(2) {
    width: 49%;
    margin-bottom: 0;
  }
  .search-result-list.model-2 .sll-countries .row .column:last-of-type {
    width: 49%;
  }
  .search-result-list.model-2 .sll-countries .row .column .ob-rating {
    float: left;
    padding-top: 0;
  }
}
.operators-category.model-2 ul li {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
@media (min-width: 481px) and (max-width: 700px) {
  .operators-category.model-2 {
    padding: 15px 20px;
  }
  .operators-category.model-2 ul li {
    width: 49%;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .operators-category.model-2 ul li {
    width: 100%;
    margin-bottom: 0;
  }
  .operators-category.model-2 ul li a {
    padding-left: 18px;
  }
}
.mobile-menu .wrap-dropdown li a {
  white-space: nowrap;
}
.mobile-menu .item .item-header {
  cursor: pointer;
}
.member-logged-in.desktop-only {
  display: none;
}
@media (min-width: 768px) {
  .member-logged-in.desktop-only {
    display: inline-block;
  }
}
.filter-t-row {
  cursor: pointer;
}
.filter-t-row span {
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.filter-t-row span:after {
  font-family: safari;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  height: 6px;
  margin: auto;
  content: '\65';
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.filter-t-row.active {
  color: #73ae3a;
}
.filter-t-row.active.up span {
  padding-right: 10px;
}
.filter-t-row.active.up span:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.acordeon-2 .caption .td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.acordeon-2 .caption .td:nth-of-type(3) {
  min-width: 80px;
  max-width: 80px;
}
.acordeon-2 .caption .td:nth-of-type(4) {
  min-width: 130px;
  max-width: 130px;
}
.acordeon-2 .a-row .a-row-header .td:nth-of-type(3) {
  min-width: 80px;
  max-width: 80px;
}
.acordeon-2 .a-row .a-row-header .td:nth-of-type(4) {
  min-width: 130px;
  max-width: 130px;
}
.article-3 .right-side .rate-me {
  display: inline-block;
  vertical-align: bottom;
}
.acordeon-list .item .wrap-content .tab-box {
  padding: 15px 25px;
  border-bottom: 1px solid #e9e3e1;
}
.note.model-2 {
  margin: 0 !important;
  padding: 10px 0!important;
  border: none!important;
}
.note.model-2 span {
  min-width: 50px !important;
}
.box-model-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.box-model-2 .left-side {
  min-width: 140px;
  max-width: 140px;
}
.box-model-2 .left-side .wrap-img img {
  display: block;
}
.box-model-2 .left-side .link {
  font-size: 16px;
  font-weight: 700;
}
.box-model-2 .right-side {
  width: 100%;
  padding-left: 10px;
}
.box-model-2 .right-side > p {
  font-size: 14px;
  color: #7f7f7f;
}
@media (max-width: 620px) {
  .box-model-2 {
    display: block;
  }
  .box-model-2 .left-side {
    min-width: initial;
    max-width: initial;
    padding-bottom: 15px;
  }
  .box-model-2 .right-side {
    min-width: initial;
    max-width: initial;
    padding-left: 0;
  }
}
.box-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box-comment h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #3a3c3d;
}
.box-comment .left-side {
  width: 100%;
}
.box-comment .right-side {
  min-width: 290px;
  max-width: 290px;
  padding-left: 15px;
}
.box-comment .list-info {
  font-size: 13px;
  color: #7f7f7f;
}
.box-comment .list-info li {
  line-height: 1.5;
  position: relative;
  margin-bottom: 7px;
  padding-left: 10px;
}
.box-comment .list-info li:before {
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  content: '';
  border-radius: 50%;
  background-color: #828688;
}
@media (max-width: 620px) {
  .box-comment {
    display: block;
  }
  .box-comment .left-side {
    padding-bottom: 15px;
  }
  .box-comment .right-side {
    min-width: initial;
    max-width: initial;
    padding-left: 0;
  }
}
.form-model-3 textarea.model-1 {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  margin-bottom: 0;
  padding: 10px;
  color: #7c8082;
  border: 1px solid #e9e3e1;
  border-radius: 2px;
}
.form-model-3 .form_button_container .cancel.model-2 {
  background-position: 20px center;
}
.wrap-box-table {
  overflow: auto;
}
.wrap-box-table .table-title {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  color: #3a3c3d;
}
.wrap-box-table table {
  width: 100%;
  min-width: 700px;
}
.wrap-box-table table tr th {
  font-size: 13px;
  font-weight: 700;
  padding: 15px 10px;
  color: #7c8082;
  border-top: 1px solid #e9e3e1;
}
.wrap-box-table table tr th:first-of-type {
  padding-left: 25px;
}
.wrap-box-table table tr th:last-of-type {
  padding-right: 25px;
}
.wrap-box-table table tr td {
  font-size: 13px;
  padding: 15px 10px;
  color: #7c8082;
  border-top: 1px solid #e9e3e1;
}
.wrap-box-table table tr td:first-of-type {
  padding-left: 25px;
}
.wrap-box-table table tr td:last-of-type {
  padding-right: 25px;
}
.mh-articles-list {
  text-align: center;
}
.mh-articles-list li {
  display: inline-block;
  vertical-align: top;
}
.mh-articles-list li .mh-article {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 545px;
  height: 200px;
  margin: 5px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.mh-articles-list li .mh-article img {
  position: relative;
  z-index: 100;
  min-width: 100%;
  min-height: 100%;
}
.mh-articles-list li .mh-article h3 {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 15px;
  text-align: left;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.33+0,0.19+71,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.19) 71%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.19) 71%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.33)), color-stop(71%, rgba(0, 0, 0, 0.19)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.19) 71%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.19) 71%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
@media (max-width: 1180px) {
  .mh-articles-list li .mh-article {
    height: auto;
    margin: 5px 0;
  }
}
@media (max-width: 480px) {
  .mh-articles-list li .mh-article h3 {
    font-size: 16px;
    padding: 6px 10px;
  }
}
.mh-articles {
  padding: 40px 0 40px;
  background-color: #f7f4ee;
}
.mh-articles h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3a3c3d;
}
.underline-dotted {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}
.talking-subscribe .tabs li {
  color: #73ae3a;
}
.talking-subscribe .tabs li.active {
  opacity: .8;
  color: #73ae3a;
}
.operators-category li span.i-safari-tour-operator {
  font-size: 12px;
}
.card.type-6 .card-body .card-description .links-list li a i {
  display: inline-block;
  min-width: 20px;
  vertical-align: unset;
}
.card.type-6 .card-body .card-description .links-list li a i.i-safari-tour-operator {
  font-size: 13px;
}
.new-card.model-1 .new-card-body .text-content .bottom-info .info-list li i {
  display: inline-block;
  min-width: 20px;
  vertical-align: unset;
}
.new-card.model-1 .new-card-body .text-content .bottom-info .info-list li i.i-safari-tour-operator {
  font-size: 13px;
}
@media (max-width: 520px) {
  .new-card.model-1 .new-card-header .flex-box .right-side {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .tours.model-2 > img {
    display: none;
  }
}
.iframe-form.form-ask-for-a-review {
  min-height: 880px;
  max-height: 90vh;
}
@media (max-height: 800px) {
  .iframe-form.form-ask-for-a-review {
    min-height: 500px;
    max-height: 90vh;
  }
}
.social-links-imgs.model-colored a .img-color {
  display: block;
}
.social-links-imgs.model-colored a .img-gray {
  display: none;
}
.social-links-imgs.model-colored a:hover .img-color {
  display: none;
}
.social-links-imgs.model-colored a:hover .img-gray {
  display: block;
}
.mobile-logo {
  display: none;
}
@media (min-width: 768px) {
  .mobile-box-filters {
    display: none;
  }
  .operators-box.model-2 .mobile-ob-image {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-box-filters {
    display: none;
  }
  .main {
    padding-top: 50px;
  }
  .mobile-box-filters {
    margin-top: 10px;
    background-color: #fff;
  }
  .mobile-box-filters .wrap {
    padding-top: 0;
    padding-bottom: 10px;
    background: #fff;
  }
  .mobile-box-filters .wrap .filter-item {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .mobile-box-filters .wrap .filter-item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .mobile-box-filters .wrap .filter-item h2 {
    max-width: initial;
    margin-right: 30px;
  }
  .mobile-box-filters .wrap .filter-item h2 a {
    font-size: 13px;
    position: relative;
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .mobile-box-filters .wrap .filter-item h2 a:before {
    display: none;
  }
  .mobile-box-filters .wrap .filter-item h2 a i {
    font-size: 10px;
    position: absolute;
    z-index: 100;
    top: 2px;
    right: 5px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #cacacf;
  }
  .mobile-box-filters .wrap .filter-item h2 a.active i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .mobile-box-filters .wrap .filter-item .clear-filter {
    font-size: 11px;
    position: absolute;
    z-index: 100;
    top: 1px;
    right: 0;
  }
  .mobile-box-filters .wrap .filter-item .tab-content {
    width: 100%;
  }
  .mobile-box-filters .wrap .filter-item .list-with-icons-1 i {
    display: inline-block;
    width: 22px;
  }
  .mobile-box-filters .wrap .filter-item .list-with-icons-1 i.icon-night-auto {
    font-size: 10px;
  }
  .ob-rating.pt-mar .sort-b {
    display: none;
  }
  .ob-rating.pt-mar .ss-select {
    width: 100%;
  }
  .sll-box.new-arangament-style {
    margin-bottom: 15px;
    padding-bottom: 0;
    border: none;
  }
  .sll-box.new-arangament-style .ob-rating.pt-mar {
    margin-bottom: 0;
  }
  .banner.model-wide {
    margin-bottom: 15px;
  }
  .operators-box.model-2 .ob-image {
    display: none;
  }
  .operators-box.model-2 .mobile-ob-image {
    display: block;
    width: 100%;
  }
  .operators-box.model-2 .mobile-ob-image a {
    display: block;
    width: 100%;
  }
  .operators-box.model-2 .mobile-ob-image img {
    min-width: 100%;
  }
  .operators-box.model-2 .ob-description {
    padding: 15px 0;
  }
  .operators-box.model-2 .ob-description h2 {
    padding: 0 15px;
  }
  .operators-box.model-2 .ob-description .ob-rating {
    overflow: hidden;
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .operators-box.model-2 .ob-description .category {
    padding-left: 15px;
  }
  .operators-box.model-2 .ob-description .ob-reviews {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
  }
  .operators-box.model-2 .ob-description .ob-reviews h3 {
    display: none;
  }
  .operators-box.model-2 .ob-description .ob-reviews a {
    font-weight: 700;
  }
  .operators-box.model-2 .ob-bottom {
    color: #3a3c3d;
  }
  .operators-box.model-2 .ob-bottom .ob-icons p,
  .operators-box.model-2 .ob-bottom .ob-icons a {
    display: inline-block;
    clear: none;
    margin: 0 10px 5px 0;
    vertical-align: top;
  }
  .operators-box.model-2 .ob-bottom .ob-icons p span,
  .operators-box.model-2 .ob-bottom .ob-icons a span {
    color: #7c8082;
  }
  .operators-box.model-2 .languages {
    display: none;
  }
  .operators-box.model-2 .ob-score > p {
    font-size: 13px;
  }
  footer {
    padding-bottom: 10px;
  }
  footer .footer-box ul {
    overflow: hidden;
    width: 200px;
    margin: auto;
    padding-bottom: 15px;
    border: none;
  }
  footer .footer-box ul li {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 10px;
    padding: 0;
    border: none;
  }
}
.operators-box.model-2 .ob-description h2 {
  margin-bottom: 3px;
}
.operators-box.model-2 .category {
  margin-bottom: 5px;
  color: #7c8082;
}
.operators-box.model-2 .category i {
  margin-right: 5px;
}
.operators-box.model-2 .category i.i-safari-tour-operator {
  font-size: 12px;
}
@media (max-width: 767px) {
  header {
    height: 50px;
  }
  header .logo {
    display: none;
  }
  header .mobile-logo {
    display: inline-block;
    height: 40px;
    margin-top: 5px;
  }
  header .mobile-logo img {
    display: block;
    height: 40px;
  }
  header .header-rights-links {
    margin: 13px 0 0;
  }
  header .header-rights-links .login-link {
    line-height: 22px;
    height: 22px;
  }
  header .header-rights-links .open-menu {
    width: 24px;
    height: 11px;
    border-width: 3px;
  }
  header .header-rights-links .open-menu:before {
    top: 4px;
    height: 3px;
  }
  header .header-rights-links .search-btn {
    font-size: 20px;
    line-height: 30px;
    float: right;
    width: 30px;
    height: 26px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
  }
}
.m-mobile-header-search {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100%;
  max-height: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #fff;
}
.m-mobile-header-search.opened {
  max-height: 100vh;
}
.m-mobile-header-search .wrap-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 10px;
}
.m-mobile-header-search .wrap-content form {
  position: relative;
  display: block;
  padding-right: 20px;
}
.m-mobile-header-search .wrap-content form i {
  font-size: 16px;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 10px;
}
.m-mobile-header-search .wrap-content input {
  width: 100%;
  margin-top: 10px;
  padding: 6px 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.card.type-6 .card-body .wrap-img {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  height: 180px;
  margin: auto;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card.type-6 .card-body .card-description {
  padding-right: 10px;
  padding-left: 10px;
}
.card.type-6 .card-body .card-description .info-list .m-tr .m-td {
  display: inline-block;
  margin: 0 0 5px 0;
}
.card.type-6 .card-body .card-description .info-list .m-tr .m-td:nth-of-type(2n+1) {
  width: 49%;
}
.card.type-6 .card-body .card-description .info-list .m-tr .m-td:nth-of-type(2n) {
  width: 49%;
}
@media (max-width: 767px) {
  .operators-category h2 {
    font-weight: 300;
    font-style: italic;
  }
  .operators-category h2 span {
    font-weight: 600;
    font-style: normal;
  }
  .card.type-6 {
    padding: 10px 0;
  }
  .card.type-6 .card-header {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 10px;
  }
  .card.type-6 .card-body .wrap-img {
    width: 260px;
    height: 260px;
  }
  .new-card.model-1 .new-card-header {
    border: none;
  }
  .new-card.model-1 .new-card-header .card-title {
    width: 100%;
    margin-bottom: 5px;
  }
  .new-card.model-1 .new-card-header .right-side {
    width: 100%;
    margin-top: 5px;
    text-align: left;
  }
  .new-card.model-1 .new-card-body .flex-box {
    display: block;
  }
  .new-card.model-1 .new-card-body .flex-box .wrap-img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .new-card.model-1 .new-card-body .flex-box .wrap-img img {
    height: auto;
    max-height: initial;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content .link {
    font-weight: 700;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content .bottom-info .info-list li i {
    vertical-align: bottom;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content > .wrap-score {
    float: none;
    width: 100%;
    margin-top: 15px;
    padding-left: 0;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content > .wrap-score .number {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content > .wrap-score p {
    display: inline-block;
    vertical-align: middle;
  }
  .new-card.model-1 .new-card-body .flex-box .text-content .bottom-info .info-list.model-2 li {
    margin-bottom: 3px;
  }
  .new-card.model-2 .new-card-header {
    border: none;
  }
  .new-card.model-2 .new-card-header .card-title {
    width: 100%;
    margin-bottom: 5px;
  }
  .new-card.model-2 .new-card-header .right-side {
    width: 100%;
    margin-top: 5px;
    text-align: left;
  }
  .new-card.model-2 .new-card-body .flex-box {
    display: block;
  }
  .new-card.model-2 .new-card-body .flex-box .wrap-img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .new-card.model-2 .new-card-body .flex-box .wrap-img img {
    height: auto;
    max-height: initial;
  }
  .new-card.model-2 .new-card-body .flex-box .text-content {
    display: block;
  }
  .new-card.model-2 .new-card-body .flex-box .text-content .inner-text {
    margin-bottom: 10px;
  }
  .new-card.model-2 .new-card-body .flex-box .text-content .right-info {
    display: inline-block;
    min-width: 160px;
    max-width: 160px;
    vertical-align: middle;
  }
  .new-card.model-2 .new-card-body .flex-box .text-content .get-quote.desktop-hide {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  .new-card.model-3 .new-card-header {
    padding: 10px;
    border: none;
  }
  .new-card.model-3 .new-card-header .card-title {
    width: 100%;
    margin-bottom: 5px;
  }
  .new-card.model-3 .new-card-body .flex-box {
    display: block;
  }
  .new-card.model-3 .new-card-body .flex-box .wrap-img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .new-card.model-3 .new-card-body .flex-box .wrap-img img {
    height: auto;
    max-height: initial;
  }
  .new-card.model-3 .new-card-body .flex-box .text-content {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.slogan .link-to {
  display: inline-block;
  padding: 0 4px;
  color: #ffd965;
}
.slogan .link-to:before {
  display: inline-block;
  overflow: hidden;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  content: '';
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 767px) {
  .slogan .link-to {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}
.m-page-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #3b3c3d;
}
@media (max-width: 767px) {
  .packages-content .result-tab {
    padding-top: 0;
  }
  .add-new-styles h2.title {
    font-size: 18px;
  }
}
.mobile-menu .user-container .user-container-header .title .dropdown-link {
  z-index: unset;
}
.member-logged-in .member-contain .btn-dropdown {
  line-height: 1.4;
  float: left;
}
.member-logged-in .member-contain .name {
  line-height: 1.4;
  float: left;
}
.m-page-title {
  margin-bottom: 5px!important;
}
.m-page-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}
.new-card.model-1 .new-card-body .wrap-img img,
.new-card.model-2 .new-card-body .wrap-img img {
  height: auto;
}
@media (max-width: 767px) {
  .spanning .park-title .pt-height {
    text-align: left;
  }
  .add-new-styles .park-title .sidebar,
  .add-new-styles .park-title .pt-left {
    margin-bottom: 0;
  }
  .add-new-styles .park-title .sidebar .social-links-imgs,
  .add-new-styles .park-title .pt-left .social-links-imgs {
    float: left;
  }
  .page-article-inside .article-inside-content .wrap {
    padding: 0;
  }
  .ugc h2 {
    margin-top: 0;
  }
  .safari-info h3 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .safari-info .comments .wrap {
    padding: 0;
  }
  .add-new-styles .box-user-info {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.page--dashboard .acordeon-list .item.openned .item-body,
.page--dashboard .m-box-collapsed.openned {
  max-height: initial;
}
.page--dashboard .flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 -10px;
  vertical-align: top;
}
.page--dashboard .flex-container > * {
  padding: 0 10px;
}
.form-model-3 .form_container > h4.subtitle {
  font-size: 15px;
  font-weight: 700;
  color: #3a3c3d;
}

/*# sourceMappingURL=new.css.map */