.hide-i {
  display: none!important;
}
.new-card .card-title a {
  color: #3c3c3d;
}
.new-card .card-title a:hover {
  color: #73ae3a;
}
.new-card.model-1 .new-card-body .wrap-img img,
.new-card.model-2 .new-card-body .wrap-img img {
  max-height: 180px;
  max-width: 100%;
}
.tours.model-2 .tours-hover {
  top: 100%;
  bottom: auto;
  height: 100%;
  width: 100%;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.tours.model-2:hover .tours-hover {
  top: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
@media (max-width: 768px) and (min-width: 479px) {
  .tours .tours-visible {
    display: block;
  }
}
@media (max-width: 480px) {
  .tours.model-2 .tours-hover {
    position: relative;
    top: 0;
    overflow: hidden;
  }
}
.search-result-list.model-2 {
  width: 100%;
}
.search-result-list.model-2 .sll-countries .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.search-result-list.model-2 .sll-countries .row .column {
  line-height: 1.3;
  min-height: 22px;
  margin-bottom: 4px;
}
.search-result-list.model-2 .sll-countries .row .column:first-of-type {
  width: 100%;
}
.search-result-list.model-2 .sll-countries .row .column:nth-of-type(2) {
  min-width: 230px;
}
.search-result-list.model-2 .sll-countries .row .column:last-of-type {
  overflow: hidden;
  min-width: 200px;
}
.search-result-list.model-2 .sll-countries .row .column .ob-rating {
  padding-top: 3px;
}
@media (max-width: 700px) {
  .search-result-list.model-2 .sll-countries .row {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
  }
  .search-result-list.model-2 .sll-countries .row:last-of-type {
    border: none;
    margin-bottom: 0;
  }
  .search-result-list.model-2 .sll-countries .row .column {
    line-height: 1.3;
    min-height: 22px;
    margin-bottom: 6px;
    float: left;
  }
  .search-result-list.model-2 .sll-countries .row .column:first-of-type {
    width: 100%;
    clear: both;
    font-weight: 700;
  }
  .search-result-list.model-2 .sll-countries .row .column:nth-of-type(2) {
    width: 49%;
    margin-bottom: 0;
  }
  .search-result-list.model-2 .sll-countries .row .column:last-of-type {
    width: 49%;
  }
  .search-result-list.model-2 .sll-countries .row .column .ob-rating {
    padding-top: 0px;
    float: left;
  }
}
.operators-category.model-2 ul li {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 481px) and (max-width: 700px) {
  .operators-category.model-2 {
    padding: 15px 20px;
  }
  .operators-category.model-2 ul li {
    width: 49%;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .operators-category.model-2 ul li {
    width: 100%;
    margin-bottom: 0;
  }
  .operators-category.model-2 ul li a {
    padding-left: 18px;
  }
}
.mobile-menu .wrap-dropdown li a {
  white-space: nowrap;
}
.mobile-menu .item .item-header {
  cursor: pointer;
}
.member-logged-in.desktop-only {
  display: none;
}
@media (min-width: 768px) {
  .member-logged-in.desktop-only {
    display: inline-block;
  }
}
.filter-t-row {
  cursor: pointer;
}
.filter-t-row span {
  padding-right: 25px;
  position: relative;
  display: inline-block;
}
.filter-t-row span:after {
  font-family: safari;
  content: '\65';
  position: absolute;
  z-index: 100;
  right: 0px;
  width: 11px;
  height: 6px;
  margin: auto;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.filter-t-row.active {
  color: #73ae3a;
}
.filter-t-row.active.up span {
  padding-right: 10px;
}
.filter-t-row.active.up span:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.acordeon-2 .caption .td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.acordeon-2 .caption .td:nth-of-type(3) {
  max-width: 80px;
  min-width: 80px;
}
.acordeon-2 .caption .td:nth-of-type(4) {
  max-width: 130px;
  min-width: 130px;
}
.acordeon-2 .a-row .a-row-header .td:nth-of-type(3) {
  max-width: 80px;
  min-width: 80px;
}
.acordeon-2 .a-row .a-row-header .td:nth-of-type(4) {
  max-width: 130px;
  min-width: 130px;
}
.article-3 .right-side .rate-me {
  display: inline-block;
  vertical-align: bottom;
}

/*# sourceMappingURL=new.css.map */