.error {
    color: @red !important;
    border-color: @red !important;
}
.success {
    color: @green !important;
    border-color: @green !important;
}
.disabled {
    color: @gray !important;
    border-color: @gray !important;
    cursor: default !important;
}
.input-text {
    width: 100%;
    float: left;
    .sizing;
}
.textarea {
    &:extend(.input-text);
    font-family: @fontFamily;
}
.button {
    .sizing;
}
.ui-helper-hidden-accessible {
    display: none;
}
.ui-autocomplete {
    background: @w;
    position: absolute;
    z-index: 900;
    display: none;
    .border-radius(2px);
    .box-shadow(0 20px 30px rgba(62, 63, 62, 0.5));

    li {
        font-size: 13px;
        line-height: 1.15;
        color: #7c8082;
        cursor: pointer;
        display: block;
        padding: 13px 50px 13px 20px;
        border-top: 1px solid #ebe7e1;
        position: relative;

        &:hover {
            background: #ffce52;
            color: #3a3c3d;

            &:before {
                font-size: 20px;
                content: "➞";
                position: absolute;
                right: 20px;
                top: 50%;
                color: #3a3c3d;
                margin-top: -10px;
            }
            .ui-state-highlight {
                background: none;
            }
        }
    }
    a {
        color: #3a3c3d;
    }
}
.ui-state-highlight {
    background: #ffe6a8;
    color: #3a3c3d;
}
.form-model-4 {
    .form_container {
        .form_split_column {
            margin-right: -10px;
            margin-left: -10px;

            .constraint_required {
                padding-left: 10px;
                padding-right: 10px;
                float: none;
                width: 49.5%;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;

                @media(max-width:990px) {
                    width: 100%;
                }
            }
        }
    }
    label {
        font-size: 16px;
        font-weight: 600;
        color: #3a3c3d;
        margin-bottom: 10px;
        margin-top: 15px;
        display: block;
        width: 100%;
        float: left;

        em {
            font-size: 14px;
            font-weight: 400;
        }
    }
    input, textarea {
        color: #7c8082;
        border: 1px solid #e9e3e1;
        border-radius: 2px;
        margin-bottom: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
    }
    input {
        height: 28px;
    }
    textarea {
        min-height: 120px;
    }
    select {
        min-height: 28px;
        min-width: 40px;
    }
    fieldset {
        legend {
            font-size: 16px;
            font-weight: 600;
            color: #3a3c3d;
            margin-bottom: 0px;
            margin-top: 15px;
            display: block;
            width: 100%;
            float: left;
        }
    }
    #countryindexes {
        display: inline-block;

        span {
            display: inline-block;

            label {
                margin-bottom: 20px;
                cursor: pointer;
                position: relative;
                padding-left: 20px;
                font-size: 14px;
                line-height: 15px;
                display: inline-block;
                margin-right: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 100;
                    top: 0px;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border: 2px solid #7f7f7f;
                    border-radius: 4px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    z-index: 100;
                    top: -1px;
                    left: 1px;
                    width: 12px;
                    height: 2px;
                    border: 3px solid #7f7f7f;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    transform: rotate(-50deg) scale(0, 0);
                    transition: all .3s ease;
                }
            }
            input {
                opacity: 0;
                position: absolute;
                z-index: -1;
                left: -9000px;

                &:checked {
                    +label {
                        color: #75af3c;
                        font-weight: 600;

                        &:before {
                            border-color: #75af3c;
                            border-radius: 2px;
                        }
                        &:after {
                            border-bottom-color: #75af3c;
                            border-left-color: #75af3c;
                            transform: rotate(-50deg) scale(1, 1);
                            transition: all .3s ease;
                        }
                    }
                }
            }
        }
    }
    .clear {
        overflow: hidden;
    }
    .form_button_container {
        >div {
            display: inline-block;
        }
        .submit {
            margin-top: 10px;
            margin-right: 10px;
            display: inline-block;
            background-color: #73ae3a;
            color: #fff;
            border: 1px solid #73ae3a;
            border-bottom-color: #629431;
            height: 35px;
            width: auto;
            line-height: 35px;
            border-radius: 2px;
            padding: 0 10px;
            min-width: 160px;
            font-size: 13px;
            box-sizing: border-box;
            background-image: url(../images/v2/i-check-white.png);
            background-repeat: no-repeat;
            background-position: 35px center;
        }
        .cancel {
            margin-top: 10px;
            display: inline-block;
            background-color: transparent;
            color: #3a3c3d;
            border: 1px solid #d7d9d9;
            height: 35px;
            line-height: 35px;
            border-radius: 2px;
            padding: 0 10px;
            min-width: 160px;
            font-size: 13px;
            text-align: center;
            box-sizing: border-box;
            background-image: url(../images/v2/i-close.png);
            background-repeat: no-repeat;
            background-position: 38px center;
        }
    }
    #safari_type, #party_size, [name='days'] {
        width: 100%;
        max-width: 350px;
    }
}
.iframe-form{
    width: 100%;
border: none;
    &.form-login{
        min-height: 435px;
    }
    &.form-forgotten{
        min-height: 425px; 
    }
    &.form-register{
        min-height: 660px; 
    }
    &.form-suggest{
        min-height: 465px; 
    }
}
.content-wrap{
        padding: 0 15px 10px;
}
.iframe-popup-form {
background: #fff;
margin: 0;

        h2{
            background-color: #ffce52;
            font-size: 16px;
            text-align: left;
            padding: 8px 15px;
            color: #3a3c3d;
            margin: 0;

        }
        h4{
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
            color: #3a3c3d;
        }
        form{
            .input-group{
                margin-bottom: 8px;
                clear: both;
                float: left;
                width: 100%;
                label{
                    display: inline-block;
                    width: 100%;
                    color: #7c8082;
                    font-size: 14px;
                    margin-bottom: 8px;
                    line-height: 1.2;

                }
                input,textarea{
                    border: 1px solid #e9e3e1;
                    border-radius: 2px;
                    margin-bottom: 0;
                    width: 100%;
                    box-sizing: border-box;
                    color: #7c8082;
                    font-size: 14px;
                 
                }
                input{
                    height: 28px;
                }
                   input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                      color: rgba(124,128,130, 0.5);
                    }
                    input::-moz-placeholder { /* Firefox 19+ */
                      color: rgba(124,128,130, 0.5);
                    }
                    input:-ms-input-placeholder { /* IE 10+ */
                      color: rgba(124,128,130, 0.5);
                    }
                    input:-moz-placeholder { /* Firefox 18- */
                      color: rgba(124,128,130, 0.5);
                    }
                textarea{
                    padding: 10px;
                }
            }
        }
        .input-group-footer{
            float: left;
            .m-btn-submit{
                margin-top: 10px;
                display: inline-block;
                background-color: #73ae3a;
                color: #fff;
                border: 1px solid #73ae3a;
                border-bottom-color: #629431;
                height: 35px;
                line-height: 35px;
                border-radius: 2px;
                padding: 0 10px;
                min-width: 160px;
                font-size: 13px;
                .i-check{
                    display: inline-block;
                    vertical-align: baseline;
                    margin-right: 6px;
                    width: 14px;
                    height: 11px;
                    background-image: url(../images/v2/i-check-white.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                }

            }
            .m-btn-cancel{
                margin-top: 10px;
                display: inline-block;
                background-color: transparent;
                color: #3a3c3d;
                border: 1px solid #d7d9d9;
                height: 35px;
                line-height: 35px;
                border-radius: 2px;
                padding: 0 10px;
                min-width: 160px;
                font-size: 13px;
                .icon-close{
                    display: inline-block;
                    vertical-align: baseline;
                    margin-right: 6px;
                    width: 14px;
                    height: 11px;
                    font-size: 11px;
                }

            }
        }
    }

