@media (min-width: 800px) and (max-width: 1200px){
    .lastest-post {
        .col-3 {
            width: 50%;
            .tours {
                float: left;
            }
            &:nth-child(odd) {
                .tours {
                    float: right;
                }
            }
        }
    }
    .see-more {
        max-width: 750px;
        margin: 0 auto;
    }
}
@media (max-width: 1200px){
    .slider-image {
        .ror-box {
            text-align: left;
            right: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            max-width: none !important;
            margin: 0 !important;
        }
    }
    .request-quote {
        font-size: 12px;
        width: 150px;
    }
}
@media (max-width: 1100px){
    .logo-copy {
        margin-right: 20px;
    }
    .main {
        // padding: 0;
    }
    footer {
        height: auto;
        margin: 0;
        padding-bottom: 30px;
    }
    .talking-subscribe {
        background: url(../images/v2/ts.png) repeat;
        padding: 0;
        &:before,&:after {
            display: none;
        }
    }
    .talking-subscribe .tab {
        background: #f9f8f7;
        padding: 50px 0 40px;
        border-right: 2px solid #e4e4e3;
        width: 65%;
        .sizing();
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -20px;
            bottom: 0;
            width: 20px;
            background: #f9f8f7;
        }
    }
    .subscribe {
        padding-top: 50px;
    }
    .footer-box {
        width: 360px;
    }
    .tpb-description {
        padding-right: 30px;
    }
    .ror-description .rating em {
        margin: 0;
        width: 100%;
        padding-top: 8px;
    }
    .tour-packages-content {
        .wrap:before {
            display: none;
        }
        .content {
            width: 100%;
            margin-bottom: 30px;
        }
        .sidebar {
            width: 100%;
        }
    }
    .request-quote {
        font-size: 11px;
        width: 130px;
    }
    .shaman-box {
        a {
            font-size: 14px;
        }
    }
}
@media (max-width: 1000px){
    header {
        nav {
            display: none;
        }
    }
    .home-page .slogan-video {
        height: 600px;
    }
    .help-join {
        display: none;
    }
    .open-menu {
        display: block;
    }
    .logo-copy {
        text-align: center;
        margin: 0 auto 40px;
        width: auto;
        float: none;
    }
    .footer-logo {
        margin: 0 auto 10px;
        float: none;
    }
    .footer-box {
        text-align: center;
        margin: 0 auto 40px;
        width: auto;
        float: none;
        ul {
            margin: 0;
            float: none;
            li {
                display: inline-block;
                float: none;
            }
        }
    }
    .join-us {
        text-align: center;
        width: auto;
        float: none;
        a {
            display: inline-block;
            float: none;
        }
    }
    .talking-subscribe .tabs {
        width: auto;
        margin: 0 20px 30px 0;
        padding-bottom: 10px;
        white-space: nowrap;
        overflow-x: scroll;
        float: none;
        li {
            display: inline-block;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .talking-subscribe .box {
        margin: 0 20px 0 0;
    }
    .tpb-description {
        width: 100%;
        margin: 0 0 30px;
    }
    .tpb-image {
        width: 100%;
        img {
            margin: 0 auto;
            display: block;
        }
    }
    .park-title {
        .sidebar {
            width: 100%;
            margin: 20px 0;
        }
    }
    .park-description {
        .content,.sidebar {
            width: 100%;
        }
    }
    .request-quote {
        font-size: 13px;
        width: 176px;
        margin-left: 0;
    }
    .copy-link {
        width: 30px;
        margin-left: 10px;
        float: left;
    }
    .safari-content,.item-content {
        .content {
            width: 100%;
        }
        .sidebar {
            width: 100%;
        }
    }
    .item-content .wrap::before {
        display: none;
    }
    .offers,.park-map,.pm-text,.sidebar .tours {
        margin-left: 0;
    }
    .menu-open {
        margin-right: 200px;
        margin-left: -200px;
    }
    .mobile-menu.active {
        display: block;
    }
    .page-image {
        height: 300px;
    }
    .shaman-box {
        a {
            padding-left: 10px;
        }
    }
    .pt-left  {
        .review-link{
        margin-top: -45px !important;
        }
    }
    .park-country {
        .sidebar{
            width: 35%;
            margin: 0;
        }
        .review-link{
            margin-top: 0 !important;
        }
    }
    .art-country {
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 1100px){
    .review-link {
        font-size: 12px;
    }
    .operators-category li a {
        font-size: 12px;
    }
    .ob-description h2 {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .ob-reviews p {
        font-size: 11px;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    .ob-icons p, .ob-icons a {
        font-size: 11px;
        margin-left: 15px;
    }
    .filter-description h2 {
        font-size: 16px;
    }
    .filter-item h2 {
        font-size: 11px;
    }
}
@media (max-width: 900px){
    .home-page .slogan-video {
        height: 500px;
    }
    .slogan h1 {
        font-size: 46px;
    }
    .slider {
        background: @tr;
        height: auto;
    }
    .slider-caption {
        background: @w;
        //text-align: center;
        position: relative;
        width: 100%;
        padding: 20px 0 50px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: -20px;
            bottom: 0;
            width: 20px;
            background: @w;
        }
    }
    .slider-item {
        width: 100%;
        padding: 30px 0;
    }
    .slider-slide {
        height: auto;
        padding-bottom: 55px;
    }
    .slider-item .slick-dots {
        text-align: center;
        left: 0;
        right: 0;
    }
    .slider-image {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: auto;
        float: none;
    }
    .top-video,.filter,.pi-sidebar-box,.members-think,.pm-text,.park-map,.park-suitability,.all-rating {
        margin-left: 0;
    }
    .members-think .stars {
        width: 100%;
        margin: 5px 0 10px;
        float: left;
    }
    .tp-result {
        display: -webkit-block;
        display: -moz-block;
        display: -ms-block;
        display: -o-block;
        display: block;
    }
    .tp-image {
        width: 40%;
        height: 142px;
    }
    .tp-description {
        width: 60%;
        padding-right: 20px;
    }
    .tp-price {
        width: 100%;
    }
    .shaman-box {
        a {
            font-size: 11px;
        }
    }
    .park-country {
        .sidebar {
           width:  40%;
        }
    }
}
@media (max-width: 800px){
    .lastest-post {
        .col-3 {
            width: 100%;
        }
    }
    .see-more {
        max-width: 360px;
        margin: 0 auto;
    }
    .talking-subscribe .tab {
        width: 100%;
        &:after {
            background: #f9f8f7;
            width: 20px;
            right: -20px;
            top: 0;
            bottom: 0;
            position: absolute;
            content: '';
        }
    }
    .subscribe {
        width: 100%;
        padding-bottom: 50px;
    }
    .pdt-left,.pdt-right {
        width: 100%;
        padding: 0;
    }
    .operators-category li em {
        font-size: 10px;
    }
}
@media (max-width: 768px){
    footer .col-25 {
        width: 50%;
    }
    .content,.sidebar {
        width: 100%;
        margin-bottom: 30px;
    }
    .search-box .sidebar {
        width: 40%;
        margin: 0;
    }
    .item-content {
        &:after {
            display: none;
        }
        .wrap {
            &:before,&:after {
                display: none;
            }
        }
    }
    .st-experiens .tabs {
        display: block;
    }
    .st-experiens .tabs li {
        display: block;
        width: 100/3%;
        float: left;
    }
    .activities-list .col-3,.animal-list .col-3 {
        width: 50%;
    }
    .sb-item {
        width: 60%;
    }
    .shaman-box {
        width: 40%;
    }
    .tours-oper{
        width: calc(100% - 5px);
    }
    .pt-left  {
        .review-link{
            margin-top: -5px !important;
            margin-left: 0px;
            margin-bottom: 10px;
        }
    }
    .park-country {
        .sidebar {
           width:  100%;
           .request-quote {
                margin-left: 0;
            }
        }
        .pt-height {
            height: 70px;
            margin: -5px 0 21px;
        }
        .pt-left {
            h1 {
                color: @w;
            }
            .review-link {
                margin-top: -24px !important;
                margin-left: 0;
                padding: 0 20px;
                width: 30%;
                float: right;
            }
            .ob-rating p {
                color: @w;
            }
            width: 100%;
            margin: -90px 0 0 0px;
        }
    }
    .copy-link{
        float: right;
    }
    .popup-country {
        max-width: 100%;
    }
}
@media (max-width: 700px){
    .slider-slide {
        text-align: center;
        padding: 0 30px 50px;
    }
    .result-number {
        width: 100%;
        margin: 0 0 5px;
    }
    .sort-by {
        float: left;
    }
    .pt-image {
        display: none;
    }
    .pt-height {
        height: auto;
    }
    .pt-left {
        width: 50%;
        margin: 0;
        h1 {
            color: #3c3b3b;
        }
        .ob-rating {
            margin-bottom: 10px;
        }
    }
    .park-title .sidebar {
        width: 50%;
        float: left;
    } 
    .pt-left .ob-rating p {
        color: #3c3b3b;
    }
    .park-country {
        .sidebar {
           width:  100%;
        }
    }
    
}
@media (max-width: 600px){


    .review-description {
        margin-right: 0;
    }
    .tour-by {
        display: none;
    }
    .ob-icons,.languages {
        width: 100%;
    }
    .ob-description {
        margin: 0;
        width: 100%;
        .sizing();
        float: left;
        padding: 20px;
    }
    .result-tab .tabs,.result-tab .sb-select {
        width: 100%;
    }
    .result-tab .tabs li {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .park-tab .tabs li {
        font-size: 10px;
    }
    .pi-box img {
        margin-bottom: 20px;
    }
    .pi-box h3, .pi-box ul, .pi-box ol, .pi-box p {
        margin-left: 0;
        clear: both;
    }
    .safari-info .col-5 {
        width: 100%;
    }
    .sll-first {
        .ssl-description {
            clear: both;
            margin: 0;
            padding: 20px;
        }
    }
    .sll-first ul li {
        width: 100%;
    }
    .sb-item {
        width: 100%;
    }
    .shaman-box {
        width: 100%;
        p {
            width: 100%;
        }
        a {
            font-size: 18px;
            width: 152px;
            display: block;
            margin: 0 auto;
            float: none;
            padding-left: 28px;
            clear: both;
        }
    }
    .search-box .sidebar {
        width: 100%;
        margin-top: 10px;
        span {
            display: none;
        }
        .review-link {
            margin: 0;
        }
    }
}
@media (min-width: 479px) and (max-width: 768px){
    .operators-category li a {
        font-size: 12px;
    }
    .ob-description h2 {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .ob-reviews p {
        font-size: 11px;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    .ob-icons p, .ob-icons a {
        font-size: 11px;
        margin-left: 15px;
    }
    .tours-visible {
        display: none;
    }
    .tours {
        max-width: 360px;
        width: auto;
        height: auto;
    }
    .tours-hover {
        background: @w;
        bottom: 0;
        height: auto;
        top: auto !important;
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        float: left;
        ul,h3 {
            display: none;
        }
        h2 a,p,.price em, .price span,h4 {
            color: #3a3c3d;
        }
    }
    .home-page .slogan-video {
        background: url(../images/v2/header.jpg) no-repeat center;
        .bgsize();
    }
    .home-page video {
        display: none !important;
    }

}
@media (max-width: 479px){
    .spanning{
        display: flex;
        flex-direction: column;
        .page-image{
            order: -1;
            .breadcrumbs{
                background-color: rgba(58, 60, 61, 0.5);
                span{
                    display: inline-block;
                    margin: 0 7px;
                }
            }
        }
        .search-box{
            .sb-item{
                display: table;
                .sbi-input{
                    display: table-header-group;
                    input{
                        border: 1px solid #bdbfc0;
                    }
                }
                .search-button{
                    float: none;
                    display: block;
                    text-transform: uppercase;
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
        .park-title{
            h1{
                font-size: 18px;
            }
            .pt-height{
                text-align: center;
                border-bottom: 1px solid #e3e2e1;
                .ob-rating, .ob-rating p{
                    float: none;
                    color: #7c8082;
                    font-size: 12px;
                }
            }
            .copy-link{
                & > a{
                    margin-top: 3px;
                }
            }
        }
    }
    .country-tab{
        ul.tabs{
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            white-space: nowrap;
            position: relative;
            display: flex;
            border-width: 0;
            margin-bottom: 10px;
            li{
                display: inline-block;
                width:initial;
                border-width:0px;
                background-color: transparent;
                padding: 13px 10px;
                &.active{
                    background-color: transparent;
                    box-shadow: none;
                }
                span{
                    display: none;
                }
            }
        }
    }
    .safari-info{
        .row{
            display: flex;
            flex-direction:column;
            .col-30{
                order:-1;
                text-align: center;
                
            }
        }
        .column{
            width: 100%;
        }
    }
    .sll-box{
        display: flex;
        flex-direction: column;
        h2{
            padding-right: 0;
            margin: 15px 0 0;
            border-bottom: none;
        }
        .ob-rating{
            margin: 0 0 10px;
            .stars{}
        }
        img.ssl-image{
            order:-1;
            width: 100%;
            max-width:initial;
            float: none;
            
        }
        .short-decr{
            margin-left: 0;
            .sd-text{}
            .row{
                .column{
                    width: 100%;
                }
            }
        }
    }
    .safari-sidebar{
        .tours{
            max-width:100%;
            img.tours-image{
                width: 100%;
            }
        }
        .filter{
            .ror-title{
                color: #3a3c3d;
                font-size: 18px;
            }
        }
    }
    .main{
        padding-bottom: 0;
    }
    .home-page .slogan-video {
        background: url(../images/v2/header.jpg) no-repeat center;
        .bgsize();
    }
    .home-page video {
        display: none !important;
    }
    .slogan {
        padding: 95px 0 0;
    }
    .search-button {
        font-size: 12px;
        width: 80px;
    }
    .sbi-input {
        margin-right: 95px;
    }
    .languages {
        padding-top: 10px;
    }
    .operators-category .col-3 {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .pi-sidebar-box .col-3 {
        // width: 100%;
    }
    .pi-sidebar-box .stars {
        width: 100%;
        margin: 5px 0 10px;
        float: left;
    }
    .pt-left {
        clear: both;
        margin-left: 0;
    }
    .request-quote {
        // width: 100%;
    }
    .photos-list .col-5,.activities-list .col-3, .animal-list .col-3,.st-experiens .tabs li,.safari-tab .tabs li {
        width: 100%;
    }
    .ssl-description {
        clear: both;
        padding: 20px;
        margin: 0;
    }
    .tours-visible {
        display: none;
    }
    .tours {
        max-width: 360px;
        width: auto;
        height: auto;
    }
    .tours-hover {
        background: @w;
        bottom: 0;
        height: auto;
        top: auto !important;
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        float: left;
        ul,h3 {
            display: none;
        }
        h2 a,p,.price em, .price span,h4 {
            color: #3a3c3d;
        }
    }
    .page-image {
        height: 250px;
    }
    .park-title .sidebar,.pt-left {
        width: 100%;
        float: left;
    } 
    .map-place {
        background: none;
    }
    .map-interactive {
        margin-left: 0;
    }
    .park-country {
        .pt-left {
            h1 {
                color: @t;
            }
            .review-link {
                margin-top: 10px !important;
                width: 100%;
            }
            .ob-rating p {
                color: @w;
            }
            margin: 0px;
        }
        .pt-height{
            height: 50px;
        }
    }
}
@media (max-width: 400px){
    .price {
        width: 50%;
        h4 {
            font-size: 18px;
        }
        em,span {
            font-size: 10px;
        }
    }
    .link-tour {
        width: 60px;
        height: 30px;
    }
    footer .col-25 {
        width: 100%;
    }
    .tp-image {
        width: 100%;
        height: 142px;
    }
    .tp-description {
        width: 100%;
    }
    .ssl-image {
        margin: 0 auto 20px;
        float: none;
    }
    .slider-image {
        min-height: 300px;
        .ror-description {
            margin-left: 0;
        }
        .ror-author {
            display: none;
        }
    }
    .park-country {
        .sidebar {
             .request-quote {
                width: 100%;
                margin-left: 0;
             }
        }
        .pt-left h2{
            line-height: 24px;
        }
    }
}
@media (max-width: 370px){
    .read-more {
        margin-bottom: 20px;
    }
    .rating em {
        width: 100%;
    }
    .stars {
        margin: 0;
    }
    .ob-image {
        width: 100%;
        text-align: center;
        img {
            margin: 0 auto;
            float: none;
        }
    }
    .ob-score {
        margin: 0 auto;
        display: block;
        clear: both;
        width: 55px;
        float: none;
    }
    .login-link {
        font-size: 10px;
        width: 80px;
    }
    .open-menu {
        margin-left: 10px;
    }
    .ps-item {
        width: 100%;
        margin: 0 0 20px;
    }
}
@media (max-width: 320px){
    .login-link {
        width: 55px;
    }
}