@font-face {
  font-family: 'afrika';
  src:
    url('fonts/afrika.ttf?rmlajy') format('truetype'),
    url('fonts/afrika.woff?rmlajy') format('woff'),
    url('fonts/afrika.svg?rmlajy#afrika') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'afrika' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-Blog:before {
  content: "\e912";
}
.i-Facebook:before {
  content: "\e900";
}
.i-Google:before {
  content: "\e901";
}
.i-instagram:before {
  content: "\e902";
}
.i-Linkedin:before {
  content: "\e903";
}
.i-Pinterest:before {
  content: "\e904";
}
.i-Twitter:before {
  content: "\e905";
}
.i-Youtube:before {
  content: "\e906";
}
.i-Summary_icon:before {
  content: "\e907";
}
.i-Day-planner_icon:before {
  content: "\e908";
}
.i-Sample-Lodges_icon:before {
  content: "\e909";
}
.i-tag:before {
  content: "\e90a";
}
.i-Arrow:before {
  content: "\e90b";
}
.i-edit:before {
  content: "\e90c";
}
.i-crop:before {
  content: "\e90d";
}
.i-rotate:before {
  content: "\e90e";
}
.i-safari-driver:before {
  content: "\e90f";
}
.i-external-link:before {
  content: "\e910";
}
.i-external-link-2:before {
  content: "\e911";
}
.i-travel-agency:before {
  content: "\e917";
}
.i-african-countries:before {
  content: "\e940";
}
.i-all-types:before {
  content: "\e941";
}
.i-articles:before {
  content: "\e942";
}
.i-big-five-safaris:before {
  content: "\e943";
}
.i-birding-safaris:before {
  content: "\e944";
}
.i-bloger:before {
  content: "\e945";
}
.i-camping-safaris:before {
  content: "\e946";
}
.i-countries:before {
  content: "\e947";
}
.i-cultural-safaris:before {
  content: "\e948";
}
.i-driver:before {
  content: "\e949";
}
.i-kudu:before {
  content: "\e94a";
}
.i-lodge-staff:before {
  content: "\e94b";
}
.i-non-profit:before {
  content: "\e94c";
}
.i-photos-1:before {
  content: "\e94d";
}
.i-reviews-more-than-0:before {
  content: "\e94e";
}
.i-reviews-more-than-50:before {
  content: "\e94f";
}
.i-reviews-more-than-100:before {
  content: "\e950";
}
.i-romantic-safaris:before {
  content: "\e951";
}
.i-safari-tour-operator:before {
  content: "\e952";
}
.i-safari-enthusiast:before {
  content: "\e953";
}
.i-safari-guru:before {
  content: "\e954";
}
.i-top-contributor:before {
  content: "\e956";
}
.i-travel-writer:before {
  content: "\e958";
}
